*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.signing/
local.properties
**/build/
.gradle/
/.idea/
/.kotlin/
/.verysync/
*.apk
*.aab
*.apks
*.xapk
*.apkm
*.jks
*.keystore
/app/debug/
/app/release/
/signed/